section {
    margin-bottom: 60px;
}

.section__1 {
    background: url(../images/header.png) no-repeat 10% #cacaca;
}

.section__1 .callback__form {
    margin: 40px 0;
}

.section__2 .container {
    position: relative;
}

.wrapper > div {
    display: inline-block;
    /*position: relative;*/
}

.image__container {
    margin-bottom: 40px;
}

.image__fixed__block {
    position: absolute;
}

.image__fixed__block.fixed {
    position: fixed;
}

.image__fixed__block.bottom {
    position: absolute;
    bottom: 0;
}

/*.image.fixed {*/
    /*position: fixed;*/
/*}*/

/*.image.bottom {*/
    /*position: fixed;*/
/*}*/

.descr__block:first-child .accent {
    margin-top: 0;
}

.descr__block .mo__btn {
    margin: 40px 0;
    color: #707070;
}

.descr__block .mo__btn:hover {
    color: #fff;
}

.specification {
    list-style: none;
    padding: 0;
}

.specification li {
    border-bottom: 1px dotted;
    position: relative;
}

.specification li span {
    background-color: #fff;
    bottom: -7px;
    padding: 0 2px 5px;
}

.key {
    text-align: left;
}

.value {
    right: 0;
    position: absolute;
}



.table {
    display: flex;
}

.params {
    min-width: 30%;
}

.main {
    min-width: 70%;
    display: flex;
}

.columns__wrapper {
    display: flex;
    width: 100%;
}

.column {
    min-width: calc(100%/3);
}

.specification__table .table__header {
    background-color: #b7b7b7;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 12px;
    padding: 10px;
    line-height: 1;
}

.column > div {
    padding: 15px;
    border-bottom: 1px solid #b7b7b7;
}

.params > div:last-child {
    border-bottom: 8px solid #b7b7b7;
}

.columns__wrapper .column > div:last-child {
    border-bottom: none;
    border-top: 7px solid #b7b7b7;
}

.img__cell {
    height: 211px;
}

.main .img__cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img__cell img {
    height: 100%;
}

.swiper-button-prev {
    background: url(../images/left__arrow.png);
}

.swiper-button-next {
    background: url(../images/right__arrow.png);
}

.specification__table .mo__btn.transparent {
    color: #707070;
}

.specification__table .mo__btn.transparent:hover {
    color: #fff;
}


.navbar__item {
    position: relative;
}

.fixed__block{
    position: absolute;
}

.fixed__block.fixed{
    position: fixed;
    top: 90px;
}

.fixed__block.bottom {
    bottom: 0;
    position: absolute;
}

.fixed__block a {
    color: #2b2929;
    text-decoration: none;
}

.navbar__item {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    min-width: 130px;
}

.navbar__item:hover {
    background-color: #7fd968;
}

.navbar__item img {
    max-width: 80px;
}

.fixed__container__wrapper {
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.dot {
    width: 10px;
    background-color: #d7d7d7;
    height: 10px;
    margin: 5px auto;
}

.dot.scrolled {
    background-color: #7fd968;
}

.current {
    position: absolute;
    bottom: 35px;
    left: 15px;
}

@media (min-width: 992px) {
    .specification {
        list-style: none;
        padding: 0;
    }

    .description {
        padding-left: 80px;
    }
}

@media (max-width: 992px) {
    .section__1 {
        margin-bottom: 0;
    }

    .swiper__btn {
        width: 12px;
        top: 35px;
        height: 19px;
    }

    .main .table__header {
        line-height: 2;
    }

    .description {
        padding-left: 0;
    }

    .wrapper {
        margin-top: 135px;
    }

    .fixed__container__wrapper.mobile {
        height: inherit;
        border-bottom: 1px solid #707070;
    }

    .fixed__container__wrapper.mobile.fixed {
        position: fixed;
        background-color: #fff;
        top: 0;
        z-index: 10;
    }

    .fixed__block {
        display: flex;
        position: relative;
        max-width: 90%;
        justify-content: space-around;
        margin: 0 auto;
    }

    .doted {
        display: flex;
        align-items: center;
        padding-bottom: 21px;
        width: 100%;
    }
}

@media (max-width: 524px) {
    .swiper__btn {
        top: 40px;
    }
    .main .table__header {
        line-height: 3;
    }

    .navbar__item img {
        max-width: 60px;
    }

    .navbar__item {
        padding: 0;
    }
}