.form__container {
    position: relative;
    display: flex;
}

.form__container .image {
    z-index: 1;
    margin-top: 40px;
}

.form {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 60px 0;
    background: #f9f9fb;
}

.custom__window__form .swiper-container .container {
    display: none;
}

.slider__1, .slider__2, .decor__panel {
    margin: 60px auto 0;
    min-height: 570px;
}

.slider__1 .swiper-container, .slider__2 .swiper-container {
    max-width: 1600px;
}

.swiper-container.customize .slide__content {
    position: absolute;
    left: 0;
    right: 0;
}

.slide__content.header {
    top: 0;
}

.swiper-container.customize .slide__content.descr {
    bottom: 50px;
    padding-top: 0;
}

.swiper-container.customize .swiper-slide {
     min-height: 100%;
}

.swiper-button-prev {
    background: url("/assets/static/base/img/nav_gr_left.png");
    width: 55px;
    height: 55px;
}

.swiper-button-next {
    background: url("/assets/static/base/img/nav_gr_right.png");
    width: 55px;
    height: 55px;
}

.breed h2 {
    margin-bottom: 20px;
}

.breed__content {
    display: flex;
}

.breed__content .image {
    width: 100%;
    text-align: center;
}

.breed__content div:last-child {
    width: 100%;
}

.slider__1 img, .slider__2 img {
    max-width: none;
}

.slider__2 {
    margin-bottom: 0;
}

.decor__panel {
    background: url(/assets/static/pages/customForm/images/profile.jpg) no-repeat 0 0/contain;
    margin: 0;
    background-position-x: -270px;
}

@media (max-width: 992px) {
    .form__container {
        flex-direction: column;
    }

    .form__container .image {
        text-align: center;
    }

    .form {
        position: relative;
        text-align: center;
    }

    .custom__window__form .swiper-slide {
        text-align: center;
    }

    .custom__window__form .swiper-container .container {
        display: block;
    }

    .swiper-container.customize .slide__content.descr {
        padding-top: 20px;
        position: relative;
        color: #2b2929;
        bottom: 0;
    }
}

@media (max-width: 440px) {
    .breed__content {
        flex-direction: column;
    }
}